@page "/"
    <div class="container-fluid">
        <h1>Hello, Community!</h1>

        Thanks for downloading, Here I Added the Admin LTE template with blazor, I only used default blazor pages, To create a new menu please create from "AdminLTE-master.zip" file which attached inside a project.
        </div>
